body{
    background-image: url(moguTest/mogu/3.jpg);
    background-size: 100% 100%;
    height:100%;
}
html{
    height: 100%;
}
@keyframes myfirst {
    0%{opacity: 0}
    50%{opacity: 100}
    100%{opacity: 0}
}
@keyframes mysecond {
    0%   {background: lavender;}
    25%  {background: yellow;}
    50%  {background: navy blue;}
    75%  {background: pink;}
    100% {background: lavender;}
}
h1{
    font-size:40px;
    animation: myfirst 5s infinite;
    animation-timing-function: linear;
}
#fangwen{
    animation: mysecond 8s infinite;
    animation-timing-function: ease;
}
html,body,div{
    height:100%;
    width:100%;
    margin:0;
}
div{
    height: 100%;
    font-size:20px;
    position:absolute;
    text-align:center;
    padding-top:0%;
    padding-left: 0%;
}
#h{
    background-image:url("1.jpg");
    background-size: 100% 100%;
    height:100%;
    color: #b3d4fc;
    animation:h 30s infinite;
}
#y{
    background-image:url("4.jpg");
    background-size: 100% 100%;
    height:100%;
    color: bisque;
    animation:y 30s infinite;
}
#l{
    background-image:url("6.jpg");
    background-size: 100% 100%;
    height:100%;
    color: lightgreen;
    animation:l 30s infinite;
}
#d{
    background-image:url("7.jpg");
    background-size: 100% 100%;
    height:100%;
    color: pink;
    animation:d 30s infinite;
}
#m{
    background-image:url("8.jpg");
    background-size: 100% 100%;
    height:100%;
    color: yellow;
    animation:m 30s infinite;
}
#g{
    background-image:url("9.jpg");
    background-size: 100% 100%;
    height:100%;
    color: tomato;
    animation:g 30s infinite;
}
#d{
    background-image:url("10.jpg");
    background-size: 100% 100%;
    height:100%;
    color: seashell;
    animation:d 30s infinite;
}
#s{
    background-image:url("11.jpg");
    background-size: 100% 100%;
    height:100%;
    color: lightyellow;
    animation:s 30s infinite;
}
#j{
    background-image:url("12.jpg");
    background-size: 100% 100%;
    height:100%;
    color: lightskyblue;
    animation:j 30s infinite;
}
#z{

    display: block;
    animation: z 30s infinite
}

@keyframes h {
    0%{opacity:0}
    10%{opacity:100}
    20%{opacity:0}
    30%{opacity:0}
    40%{opacity:0}
    50%{opacity:0}
    60%{opacity:0}
    70%{opacity:0}
    80%{opacity:0}
    90%{opacity:0}
    100%{opacity:0}
}
@keyframes y {
    0%{opacity:0}
    10%{opacity:0}
    20%{opacity:100}
    30%{opacity:0}
    40%{opacity:0}
    50%{opacity:0}
    60%{opacity:0}
    70%{opacity:0}
    80%{opacity:0}
    90%{opacity:0}
    100%{opacity:0}
}
@keyframes l {
    0%{opacity:0}
    10%{opacity:0}
    20%{opacity:0}
    30%{opacity:100}
    40%{opacity:0}
    50%{opacity:0}
    60%{opacity:0}
    70%{opacity:0}
    80%{opacity:0}
    90%{opacity:0}
    100%{opacity:0}
}
@keyframes d {
    0%{opacity:0}
    10%{opacity:0}
    20%{opacity:0}
    30%{opacity:0}
    40%{opacity:100}
    50%{opacity:0}
    60%{opacity:0}
    70%{opacity:0}
    80%{opacity:0}
    90%{opacity:0}
    100%{opacity:0}
}
@keyframes m {
    0%{opacity:0}
    10%{opacity:0}
    20%{opacity:0}
    30%{opacity:0}
    40%{opacity:0}
    50%{opacity:100}
    60%{opacity:0}
    70%{opacity:0}
    80%{opacity:0}
    90%{opacity:0}
    100%{opacity:0}
}
@keyframes g {
    0%{opacity:0}
    10%{opacity:0}
    20%{opacity:0}
    30%{opacity:0}
    40%{opacity:0}
    50%{opacity:0}
    60%{opacity:100}
    70%{opacity:0}
    80%{opacity:0}
    90%{opacity:0}
    100%{opacity:0}
}
@keyframes d {
    0%{opacity:0}
    10%{opacity:0}
    20%{opacity:0}
    30%{opacity:0}
    40%{opacity:0}
    50%{opacity:0}
    60%{opacity:0}
    70%{opacity:100}
    80%{opacity:0}
    90%{opacity:0}
    100%{opacity:0}
}
@keyframes s {
    0%{opacity:0}
    10%{opacity:0}
    20%{opacity:0}
    30%{opacity:0}
    40%{opacity:0}
    50%{opacity:0}
    60%{opacity:0}
    70%{opacity:0}
    80%{opacity:100}
    90%{opacity:0}
    100%{opacity:0}
}
@keyframes j {
    0%{opacity:0}
    10%{opacity:0}
    20%{opacity:0}
    30%{opacity:0}
    40%{opacity:0}
    50%{opacity:0}
    60%{opacity:0}
    70%{opacity:0}
    80%{opacity:0}
    90%{opacity:100}
    100%{opacity:0}
}
